version: '3.8'

services:
  insight-tool:
    build: .
    ports:
      - "80:5000"
    restart: always
    env_file:
      - .env
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=False
